@media only screen and (max-width: 1400px) {
    .shop {
        .col-12-sm:nth-child(3) {
            display: none;
            margin: 0;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .shop {
        .row {
            justify-content: center;
        }

        h1 {
            margin-top: 80px;
        }

        .col-12-sm {
            display: none;
            margin: 0;
        }

        .left {
            left: 0;
        }

        .right {
            right: 0;
        }

        .shop__first {
            display: flex;

            .shop-card {
                width: 100%;
                justify-content: center;

                &__name {
                    width: auto;
                }
            }
        }

        &__all {
            margin-top: 40px;
            text-align: center;

            a {
                &::after {
                    margin: 5px 5px 0 auto;
                }
            }
        }
    }
}

@media only screen and (min-width: $breakpoint-med) and (max-width: $breakpoint-large) {
    body {
        background: url("../../assets/img/bg1.png") 50% 34% no-repeat, url("../../assets/img/bg2.png") 50% 92% no-repeat;
        background-size: contain;
    }

    .hero {
        margin-bottom: 50px;

        &__text {
            .info-block {
                h1 {
                    font-size: 4rem;
                }

                p {
                    margin-bottom: 50px;
                }
            }
        }

        .col-10 {
            flex-basis: 600px;
        }
    }

    .quote {
        margin-top: 0;

        &__body {
            width: 80%;
        }

        &::after {
            height: 70px;
            margin: 30px auto 0;
        }
    }

    .media {
        & .col-5 {
            padding-left: 0;
            p {
                margin: 15px 0 5px 15px;
            }
        }

        &__movie {
            left: 307px;
            justify-self: flex-end;
            align-self: flex-end;
            width: 60%;
        }
    }

    .shop {
        h1 {
            font-size: 2.7rem;
            margin-top: 50px;
            margin-bottom: 35px;
        }
    }

    .training {
        margin-top: 50px;

        .row {
            flex-direction: column;
            align-items: center;
        }

        .col-12-sm {
            width: 100%;
            text-align: center;
        }

        .col-8 {
            flex-basis: content;
            .training__image {
                margin: 0 auto;
                width: 70%;
            }
        }

        &__info {
            margin-left: 0;
            width: 100%;

            h1 {
                text-align: left;
            }

            p {
                text-align: left;
                margin: 25px 0 15px;
                width: 100%;
            }

            a {
                margin: 5px auto 0 5px;

                &::after {
                    height: 2px;
                    width: 98px;
                    margin: 5px auto 30px;
                }
            }
        }
    }

    .point-break {
        margin-top: 50px;
        .row {
            display: flex;
            flex-direction: column;
        }

        .col-12-sm {
            width: 100%;
            text-align: center;
        }

        .col-7 {
            flex-basis: content;
        }

        .col-5 {
            order: -1;
        }

        &__image {
            justify-content: center;
        }

        &__info {
            margin: 0;

            h1 {
                text-align: left;
            }

            p {
                text-align: left;
                margin: 25px 0 15px;
                width: 100%;
            }

            a {
                margin: 5px auto 0 5px;

                &::after {
                    height: 2px;
                    width: 98px;
                    margin: 5px auto 30px;
                }
            }
        }

        &::after {
            height: 70px;
            margin: 40px auto;
        }
    }

    .join {
        width: 80%;

        &__info {
            margin-bottom: 70px;
        }
    }

    .contacts {
        &__info {
            margin: 0 0 0 30px;

            h1 {
                margin: 35px 0;
            }
        }
    }

    footer {
        margin: 50px 0;
    }
}

@media only screen and (max-width: $breakpoint-med) {
    body {
        background: url("../../assets/img/bg1.png") 50% 34% no-repeat, url("../../assets/img/bg2.png") 50% 90% no-repeat;
        background-size: contain;
    }

    .site-header {
        .col-12-sm {
            width: 100%;
        }

        .site-logo {
            text-align: center;
        }

        .site-nav {
            justify-content: center;
        }

        .site-nav ul {
            width: 100%;
            justify-content: space-around;
            li {
                margin: 0;
            }
        }
    }

    .hero {
        margin-bottom: 0;

        .col-12-sm {
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
        }

        & .hero__text {
            position: relative;
            width: 100%;

            .info-block {
                h1 {
                    text-align: center;
                }

                &__body {
                    p {
                        width: 100%;
                        font-size: 0.925rem;
                        color: $info-block-color;
                    }
                }
            }
        }

        & .hero__pages {
            justify-content: center;
            margin: 15px 0;
        }
    }

    .quote {
        margin-top: 30px;

        &::after {
            width: 200px;
            height: 2px;
            margin: 30px auto;
        }

        &__body {
            width: 100%;
        }
    }

    .media {
        .row {
            flex-direction: column;

            .col-12-sm {
                width: 100%;
                padding: 0;
                text-align: center;
            }
        }

        & p {
            margin: 0 10px 15px;
            text-align: left;
        }

        & a {
            margin: 5px auto 5px 5px;

            &::after {
                height: 2px;
                width: 98px;
                margin: 5px auto;
            }
        }

        &__image {
            display: none;
        }

        &__movie {
            width: 100%;
            position: relative;

            &::after {
                top: 41.3%;
            }
        }
    }

    .shop {
        h1 {
            margin-top: 80px;
        }

        .col-12-sm {
            display: none;
            margin: 0;
        }

        .left {
            left: -5%;
        }

        .right {
            right: -5%;
        }

        .shop__first {
            display: flex;

            .shop-card {
                width: 100%;
                justify-content: center;

                &__name {
                    width: auto;
                }
            }
        }
        &__all {
            margin-top: 40px;

            a {
                margin: 5px auto 0 5px;

                &::after {
                    margin: 5px auto;
                }
            }
        }
    }

    .training {
        margin-top: 130px;

        .col-12-sm {
            width: 100%;
            text-align: center;
        }

        &__info {
            margin-left: 0;

            h1 {
                text-align: left;
            }

            p {
                text-align: left;
                margin: 25px 0 15px;
                width: 100%;
            }

            a {
                margin: 5px auto 0 5px;

                &::after {
                    height: 2px;
                    width: 98px;
                    margin: 5px auto 30px;
                }
            }
        }
    }

    .point-break {
        margin-top: 50px;
        .row {
            display: flex;
            flex-direction: column;
        }

        .col-12-sm {
            width: 100%;
            text-align: center;
        }

        .col-5 {
            order: -1;
        }

        &__image {
            justify-content: center;
        }

        &__info {
            margin: 0;

            h1 {
                text-align: left;
            }

            p {
                text-align: left;
                margin: 25px 0 15px;
                width: 100%;
            }

            a {
                margin: 5px auto 0 5px;

                &::after {
                    height: 2px;
                    width: 98px;
                    margin: 5px auto 30px;
                }
            }
        }

        &::after {
            width: 200px;
            height: 2px;
            margin: 30px auto;
        }
    }

    .join {
        width: 100%;
        &__info {
            margin-bottom: 30px;
        }
    }

    .contacts {
        .row {
            display: flex;
            flex-direction: column;

            .col-12-sm {
                width: 100%;
            }

            .col-12-sm + .col-12-sm {
                order: -1;
            }
        }

        &__info {
            margin: 30px 0;

            h1 {
                margin: 20px 0;
                text-align: center;
            }

            a {
                display: block;
                text-align: center;

                &::after {
                    margin: 5px auto;
                }
            }
        }

        &__image {
            img {
                width: 100%;
            }
        }
    }

    footer {
        margin: 50px 0 20px;
    }
}
